<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ironrabbit.type"
    android:versionCode="2"
    android:versionName="0.2">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />         
    

</manifest>
