<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.otr.app.im" 
    android:sharedUserLabel="@string/perm_label"
     android:versionName="13.1.2"
     android:versionCode="107"
     android:installLocation="auto"     
     >     
    <supports-screens
android:smallScreens="true"
android:normalScreens="true"
android:largeScreens="true"
android:anyDensity="true"
/>
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="18" />

    <uses-permission android:name="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY" />
    <uses-permission android:name="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
       <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="info.guardianproject.otr.app.im.permission.IM_SERVICE" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission> 
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>

    <permission android:name="info.guardianproject.otr.app.im.permission.IM_SERVICE"
            android:permissionGroup="android.permission-group.MESSAGES"
            android:protectionLevel="dangerous"
            android:label="@string/perm_label"
            android:description="@string/perm_desc" />

    <permission android:name="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/ro_perm_label"
        android:description="@string/ro_perm_desc" />

    <permission android:name="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/wo_perm_label"
        android:description="@string/wo_perm_desc" />

    <application android:name=".app.ImApp"
             android:label="@string/im_label"
             android:icon="@drawable/ic_launcher"
             android:theme="@style/AppTheme"
             android:allowBackup="false"
			>
         <activity android:name=".app.WelcomeActivity"
         	>
            
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <intent-filter>
			        <action android:name="android.intent.action.VIEW" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <category android:name="android.intent.category.BROWSABLE" />
			        <data android:scheme="file" />
			        <data android:mimeType="*/*" />
			        <data android:pathPattern=".*\\.ofcaes" />
			        <data android:host="*" />
			    </intent-filter>
			         <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.category.XMPP" />
                <data android:scheme="im" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="imto" android:host="xmpp"/>
                
            </intent-filter>
            
             <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="immu"/>
                
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="ima"/>
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="otr-in-band"/>
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.ALTERNATIVE" /> 
                 <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> 
                 
                 <data android:mimeType="*/*" />
                
            </intent-filter>
             </activity>
        
        <activity android:name=".app.ActiveChatListView"
                          android:exported="false"
            
            />
        
        
        
        <activity android:name=".ui.AboutActivity"
                          android:exported="false"
            
         	/>
        <activity android:name=".ui.AccountWizardActivity"
                          android:exported="false"
            
            />
        
        <activity android:name=".ui.AppPassphraseActivity"
                          android:exported="false"
            
         	
            />
         <activity android:name=".ui.SettingsActivity"
         	              android:exported="false"
         	
             />
        
        
        <service android:name=".plugin.xmpp.XmppImPlugin"
               android:exported="false"
               android:process=":remote"
        	>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name"
                android:value="Jabber (XMPP)"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="@string/provider_full_name_xmpp"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xmpp.org/services/"/>
        </service>

        <service android:name=".plugin.xmpp.LLXmppImPlugin"
                 android:process=":remote"
                android:exported="false"
        	>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name"
                android:value="Bonjour (ZeroConf)"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="@string/provider_full_name_llxmpp"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xmpp.org/services/"/>
        </service>

<!-- 
        <service android:name=".plugin.loopback.LoopbackImPlugin">
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name" android:value="Loopback"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="Loopback Provider"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xxx.xxx.xxx"/>
        </service>
 -->
            <!--  -->
            
           <!--  android:process="info.guardianproject.otr.app.process.im"-->
        <service android:name=".service.RemoteImService"
            android:exported="false"
              android:process=":remote"            
            android:permission="info.guardianproject.otr.app.im.permission.IM_SERVICE">
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.IRemoteImService" />
                <action android:name="info.guardianproject.otr.app.im.SERVICE" />
            </intent-filter>
        </service>
        <service android:name=".service.HeartbeatService" android:exported="false" />
        
        <provider
            android:name=".provider.ImpsProvider"
            android:authorities="info.guardianproject.otr.app.im.provider.Imps"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":remote"
            android:readPermission="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY"
            android:writePermission="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY" />

        <activity android:name=".app.ChooseAccountActivity"
                          android:exported="false"
            
                >
        </activity>
        

        <activity android:name=".app.ImUrlActivity" >
            
        </activity>

        <activity android:name="info.guardianproject.otr.app.im.app.AccountListActivity"
            android:exported="false"
           android:configChanges="orientation|keyboardHidden|screenSize"
            
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-providers" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.QUIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-providers" />
            </intent-filter>
        </activity>
      
        <activity android:name=".app.AccountActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog">            
            >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-accounts" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-providers" />
            </intent-filter>
        </activity>
      

        <activity android:name=".app.SignoutActivity"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ContactListActivity"
            android:exported="false"
             android:configChanges="orientation|keyboardHidden|screenSize"
                       >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.dir/imps-contacts"/>
                 <action android:name="android.intent.action.SEARCH" />
                
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".app.AddContactActivity"
            android:label="@string/add_contact_title"
                          android:exported="false"
                          android:theme="@android:style/Theme.Dialog"
            
            />

        <activity android:name=".app.NewChatActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:windowSoftInputMode="stateUnchanged"
               android:exported="false"
               android:launchMode="singleTask"
                >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-chats" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/imps-invitations" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.IM_MANAGE_SUBSCRIPTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/imps-contacts"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.ContactsPickerActivity" android:label="@string/contacts_picker_title"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-contacts" />
            </intent-filter>
        </activity>

        <activity android:name=".app.BlockedContactsActivity" android:label="@string/blocked_list_title"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-blockedList" />
            </intent-filter>
        </activity>

        <activity android:name=".app.ContactPresenceActivity" 
              android:uiOptions="splitActionBarWhenNarrow"
             android:configChanges="orientation|keyboardHidden|screenSize"
                          android:exported="false"                          
            android:theme="@android:style/Theme.Dialog"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/imps-contacts" />
            </intent-filter>
        </activity>

        <activity android:name=".app.AccountSettingsActivity" 
                        android:exported="false"
            
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/imps-providerSettings" />
            </intent-filter>
        </activity>

        <activity android:name=".app.SettingActivity" 
                        android:exported="false"
            
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/imps-providerSettings" />
            </intent-filter>
        </activity>

         <activity android:name=".app.SmpResponseActivity"
         	android:theme="@android:style/Theme.Dialog"
         	               android:exported="false"
         	 
            />
         
           <activity
            android:name=".LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
         
           <activity android:name="info.guardianproject.onionkit.ui.CertDisplayActivity"
            android:configChanges="locale|screenSize|orientation"
         	android:theme="@android:style/Theme.Dialog"
         	 android:exported="false"
            />
          
          <activity
              android:name="de.duenndns.ssl.MemorizingActivity"
              android:configChanges="orientation|locale"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:exported="false"
               />
          
          <receiver android:name=".app.NetworkConnectivityListener" 
              android:exported="true"
              android:enabled="true"
                android:process=":remote"
              >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
          <receiver android:name=".app.BootCompletedListener" 
              android:exported="true"
              android:enabled="true"
                android:process=":remote"
              >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        
           <activity
            android:name=".app.LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            
             >
        </activity>
          
        <service android:name="info.guardianproject.cacheword.CacheWordService" android:enabled="true" android:exported="false"
             />
          
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
             android:name=".app.DummyActivity"
             android:allowTaskReparenting="true"
             android:alwaysRetainTaskState="false"
             android:clearTaskOnLaunch="true"
             android:enabled="true"
             android:excludeFromRecents="true"
             android:finishOnTaskLaunch="true"
             android:noHistory="true"
             android:stateNotNeeded="true"
             android:theme="@android:style/Theme.NoDisplay" />
</application>
</manifest>
