<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.otr.app.im" 
    android:sharedUserLabel="@string/perm_label"
     android:versionName="0.0.9-RC4"
     android:versionCode="35"
     android:installLocation="auto"     
     >     
    <supports-screens
android:smallScreens="true"
android:normalScreens="true"
android:largeScreens="true"
android:anyDensity="true"
/>
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>

    <uses-permission android:name="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY" />
    <uses-permission android:name="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="info.guardianproject.otr.app.im.permission.IM_SERVICE" />

    <permission android:name="info.guardianproject.otr.app.im.permission.IM_SERVICE"
            android:permissionGroup="android.permission-group.MESSAGES"
            android:protectionLevel="dangerous"
            android:label="@string/perm_label"
            android:description="@string/perm_desc" />

    <permission android:name="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/ro_perm_label"
        android:description="@string/ro_perm_desc" />

    <permission android:name="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/wo_perm_label"
        android:description="@string/wo_perm_desc" />

    <application android:name=".app.ImApp"
             android:label="@string/im_label"
             android:icon="@drawable/ic_launcher_gibberbot"
             android:taskAffinity="info.guardianproject.otr.app.task.im" 
             android:configChanges="locale"
             android:theme="@style/Theme.Gibberbot"
			>
 <!-- android:uiOptions="splitActionBarWhenNarrow"-->
     		 
         <activity android:name=".app.WelcomeActivity"
         	android:configChanges="locale"
         	>
            
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Brian's NEW Activities 
        <activity android:name=".ui.TabbedContainer"
        android:configChanges="locale"
        />-->
        <activity android:name=".app.ChatListActivity"
            android:configChanges="locale"
         	
            />
        <activity android:name=".app.ActiveChatListView"
            android:configChanges="locale"
         	
            />
        
        
        
         <activity android:name=".ui.AboutActivity"
         	android:configChanges="locale"
         	
         	 />
                 <activity android:name=".ui.AccountWizardActivity"
                     android:configChanges="locale"
         	
                     />
        
        <activity android:name=".ui.AppPassphraseActivity"
            android:configChanges="locale"
         	
            />
         <activity android:name=".ui.SettingsActivity"
             android:configChanges="locale"
         	
             />
        
        
        <service android:name=".plugin.xmpp.XmppImPlugin"
               android:process=":remote"
        
        	>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name"
                android:value="XMPP"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="@string/provider_full_name_xmpp"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xmpp.org/services/"/>
        </service>

        <service android:name=".plugin.xmpp.LLXmppImPlugin"
               android:process=":remote"
        
        	>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name"
                android:value="Local"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="@string/provider_full_name_llxmpp"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xmpp.org/services/"/>
        </service>

<!-- 
        <service android:name=".plugin.loopback.LoopbackImPlugin">
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.plugin" />
            </intent-filter>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_name" android:value="Loopback"/>
            <meta-data android:name="info.guardianproject.otr.app.im.provider_full_name"
                android:value="Loopback Provider"/>
            <meta-data android:name="info.guardianproject.otr.app.im.signup_url"
                android:value="http://xxx.xxx.xxx"/>
        </service>
 -->
            <!--  -->
            
           <!--  android:process="info.guardianproject.otr.app.process.im"-->
        <service android:name=".service.RemoteImService"
            android:exported="true"
            android:process=":remote"            
            android:permission="info.guardianproject.otr.app.im.permission.IM_SERVICE">
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.IRemoteImService" />
                <action android:name="info.guardianproject.otr.app.im.SERVICE" />
            </intent-filter>
        </service>

        <provider android:name=".provider.ImpsProvider"
        	android:process=":remote"
        	android:multiprocess="false"
            android:authorities="info.guardianproject.otr.app.im.provider.Imps"
            android:readPermission="info.guardianproject.otr.app.providers.imps.permission.READ_ONLY"
            android:writePermission="info.guardianproject.otr.app.providers.imps.permission.WRITE_ONLY"
            android:grantUriPermissions="true" />

        <activity android:name=".app.ChooseAccountActivity"
                android:configChanges="locale"
         	
                >
        </activity>
        
<!-- 
        <activity android:name=".app.ImUrlActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.category.AIM" />
                <category android:name="info.guardianproject.otr.app.im.category.MSN" />
                <category android:name="info.guardianproject.otr.app.im.category.YAHOO" />
                <data android:scheme="im" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="imto" android:host="aim"/>
                <data android:scheme="imto" android:host="yahoo"/>
                <data android:scheme="imto" android:host="msn"/>
            </intent-filter>
        </activity>
 -->
        <activity android:name=".app.LandingPage"
            android:configChanges="orientation|keyboardHidden|locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-providers" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.QUIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-providers" />
            </intent-filter>
        </activity>
      
        <activity android:name=".app.AccountActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-accounts" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-providers" />
            </intent-filter>
        </activity>
      

        <activity android:name=".app.SignoutActivity"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ContactListActivity" android:launchMode="singleTop"
            
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.dir/imps-contacts"/>
                 <action android:name="android.intent.action.SEARCH" />
                
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".app.AddContactActivity"
            android:label="@string/add_contact_title"
            
            android:configChanges="locale"
            />

        <activity android:name=".app.NewChatActivity"
                android:configChanges="orientation|keyboardHidden|locale"
                android:windowSoftInputMode="stateUnchanged"
                 android:uiOptions="splitActionBarWhenNarrow"
                
                >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <data android:mimeType="vnd.android.cursor.item/imps-chats" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/imps-invitations" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.IM_MANAGE_SUBSCRIPTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/imps-contacts"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.ContactsPickerActivity" android:label="@string/contacts_picker_title"
            
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-contacts" />
            </intent-filter>
        </activity>

        <activity android:name=".app.BlockedContactsActivity" android:label="@string/blocked_list_title"
            
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/imps-blockedList" />
            </intent-filter>
        </activity>

        <activity android:name=".app.ContactPresenceActivity" 
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/imps-contacts" />
            </intent-filter>
        </activity>

        <activity android:name=".app.AccountSettingsActivity" 
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/imps-providerSettings" />
            </intent-filter>
        </activity>

        <activity android:name=".app.SettingActivity" 
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="info.guardianproject.otr.app.im.IMPS_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/imps-providerSettings" />
            </intent-filter>
        </activity>

         <activity android:name=".app.SmpResponseActivity"
            android:configChanges="locale"
         	android:theme="@android:style/Theme.Dialog"
         	 android:taskAffinity=""
            />
         
          <activity android:name=".app.CertDisplayActivity"
            android:configChanges="locale"
         	android:theme="@android:style/Theme.Dialog"
         	 android:taskAffinity=""
            />
          
          <activity android:name=".app.WarningDialogActivity"
            android:configChanges="locale"
         	android:theme="@android:style/Theme.Dialog"
         	 android:taskAffinity=""
            />
          
          <receiver android:name=".app.AutoConnectListener" >
              <intent-filter>
                  <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
              </intent-filter>
          </receiver>

    </application>
</manifest>
