<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.duenndns.ssl"
	android:versionCode="1"
	android:versionName="1.0">

	<application android:label="MemorizingTrustManager">
		<activity android:name="de.duenndns.ssl.MemorizingActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
	</application>
</manifest>
