<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.cacheword" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <service
            android:name=".CacheWordService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>